<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingyun.smartusbdeviceapp">

    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!-- USB 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

   <!-- 部分手机上是没有otg的所以需要加入特性-->
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<provider-->
            <!--android:name="com.github.mjdev.libaums.storageprovider.UsbDocumentProvider"-->
            <!--android:authorities="com.github.mjdev.libaums.storageprovider.documents"-->
            <!--android:exported="true"-->
            <!--android:grantUriPermissions="true"-->
            <!--android:permission="android.permission.MANAGE_DOCUMENTS"-->
            <!--android:enabled="@bool/isAtLeastKitKat">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.content.action.DOCUMENTS_PROVIDER" />-->
            <!--</intent-filter>-->
        <!--</provider>-->
    </application>

</manifest>